asn1crypto
certifi
cffi
chardet
cryptography
cycler
idna
joblib
kiwisolver
matplotlib~=3.3.4
numpy~=1.20.1
olefile
Pillow
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
pyzmq
requests
scikit-learn~=0.24.2
scipy~=1.6.2
six
torch~=1.9.0+cu111
torchfile
torchvision~=0.10.0+cu111
tornado
tqdm~=4.59.0
urllib3
visdom
websocket-client
plotly~=5.1.0
# sklearn
scikit-learn
multipledispatch
